.card-dieta {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #1F2732;
    color: rgb(255, 255, 255);
    height: 200px;
    width: 300px;
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.card-dieta img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.8;
}

.dietas {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titledieta {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 8px;
    margin: 0;

}

.buttondieta {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.dieta-um .card-dieta,
.dieta-dois .card-dieta {
    margin: 20px 20px;
}